<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title || "Styletiles | Extra Small Design" %></title>

  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "script" %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag "ie" %>
  <![endif]-->
</head>

<body class="<%= page_classes %>">
  <%= yield %>
</body>
</html>